
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <h3>@ViewBag.Fecha</h3>
    <h1>Bienvenidos al sitio web</h1>
    <p>
        @Html.ActionLink("Ir al listado de autos", "Index", "Auto")
    </p>
</div>
